{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div class="col-4 mb-4 mt-3 py-3 px-3 mx-auto border border-dark-subtle border-1 rounded-4">
    <h2 class="text-center pb-2">Registrarse</h2>
    <form method="POST" action="{% url 'register' %}"> 
        {% csrf_token %}
        
        <!-- Campo de Usuario -->
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
        
        <!-- Campo de Correo Electrónico -->
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        
        <!-- Campo de Contraseña -->
        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="text-danger">
                    {{ form.password1.errors }}
                </div>
            {% endif %}
        </div>
        
        <!-- Campo de Repetir Contraseña -->
        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Repetir Contraseña</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="text-danger">
                    {{ form.password2.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Botón de Envío -->
        <div class="col-12 align-self-center mx-auto py-2">
            <button type="submit" class="btn btn-primary col-4 offset-4">Registrarse</button>
        </div>
    </form>
</div>
{% endblock %}